@import url(http://fonts.googleapis.com/css?family=Ubuntu);

#modal {
    background-color: #FAFAFA;
    position: absolute;
    display: none;
    margin: auto;
    padding: 10px 20px;
    width: 470px;
    height: 360px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 3px;
    box-shadow: 0 2px 5px #888;
}

#modal .left {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

#modal .left img {
    width: 100%;
}

#modal .right {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 65%;
    height: 100%;
}

#modal .right h1 {
    max-height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

#modal .right .description {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
}

#modal .close {
    margin-bottom: 5px;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
}